<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"
              [diameter]="30"
              style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"></mat-spinner>

<!--ELSE SHOW THIS-->
<mat-accordion multi=true *ngIf="users.length > 0 && !isLoading" >
    <mat-expansion-panel  *ngFor = "let user of users" >

        <!-- TITLE -->
        <mat-expansion-panel-header>
            <b style= "color: #313131;">{{getFullName(user.f_name, user.l_name)}}</b>
        </mat-expansion-panel-header>

        <!-- INFORMATION -->
        <li><b>Email: </b>{{user.email}}</li>
        <li><b>Status: </b>{{user.status}}</li>
        <!-- ACTION ROW -->
        <mat-action-row *ngIf="user.status !== 'Accepted'">
            <button  *ngIf = "user.status === 'Pending'"  mat-flat-button color="primary" (click) = "acceptFaculty(user, 'Accept')">Accept</button>
            <button  *ngIf = "user.status === 'Pending'"  mat-flat-button color="warn" (click)= "acceptFaculty(user, 'Reject')">Reject</button>
            <button *ngIf = "user.status === 'Rejected'"  mat-flat-button color="warn" (click)= "acceptFaculty(user, 'Appeal')" >Re-appeal</button>
            <button *ngIf = "user.status === 'Archive'"  mat-flat-button color="warn" (click)= "restoreAccount(user)" >Restore</button>

        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>
<br><br>
<p *ngIf="users.length <= 0 && !isLoading"><b>*Hoot hoot* *Hoot hoot*</b> <bR>Nothing here..</p>

