<app-header-dashboard-user></app-header-dashboard-user>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<main *ngIf="!isLoading">

  <div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{fullname}}</mat-card-title>
          <mat-card-subtitle>{{email}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-card-content>
          <img mat-card-image [src]="e_sig_path">
        </mat-card-content> -->


        <mat-card-actions>

          <div class="btns">
            <button class="btnProfile positive" mat-flat-button color="primary" (click)="editMyAccount()" matTooltip="Edit Account">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btnProfile negative" mat-flat-button color="primary" (click)="deleteMyAccount()" matTooltip="Delete Account">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="btnProfile neutral" mat-flat-button color="primary" (click)="changePassword()" matTooltip="Change Password">
              <mat-icon>password</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
  </div>
</main>
