<app-header-dashboard-user></app-header-dashboard-user>
<main>

    <div class='container' >

      <div class="row">
        <div class="col">
          <button mat-raised-button  matTooltip="Manage Accounts" class="admin-btn" routerLink="/accounts">
            <mat-icon class="icon-display" color="accent">people</mat-icon>
          </button>
        </div>
        <div class="col">
          <button mat-raised-button matTooltip="Manage Requests" class="admin-btn" routerLink="/admin-request">
            <mat-icon class="icon-display" color="accent">event_note</mat-icon>
          </button>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button mat-raised-button  matTooltip="Manage Subjects" class="admin-btn"  routerLink="/subject">
            <mat-icon class="icon-display" color="accent">collections_bookmark</mat-icon>
          </button>
        </div>
        <div class="col">
          <button mat-raised-button  matTooltip="Profile Settings" routerLink="/admin-settings" class="admin-btn">
            <mat-icon class="icon-display" color="accent">settings</mat-icon>
          </button>
        </div>
      </div>
    </div>
</main>
