
<app-header-dashboard-user></app-header-dashboard-user>
<mat-spinner *ngIf="isLoading"
              [diameter]="30"
              style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"></mat-spinner>
<!--

    <table  *ngIf="!isLoading" mat-table matTableExporter [hiddenColumns]="[5]" [dataSource]="dataSource" class="example-table" #exporter="matTableExporter" matSort>

        <ng-container matColumnDef="notif">
            <td  mat-cell *matCellDef="let row">

                {{row.desc}}



            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th  mat-header-cell *matHeaderCellDef>Actions</th>
            <td  mat-cell *matCellDef="let row">

              <div class="row">
                <div class="col">
                  <button class="demo-button" mat-flat-button color="warn" (click)="deleteNotif(row._id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

        <!-- </table> -->

        <main *ngIf="!isLoading">


        <mat-card class = "parent-card">
            <mat-card *ngFor="let notif of notifs" >
                <mat-card-content matBadge="1" [matBadgeHidden]="notif.isRead" matBadgePosition="before" matBadgeOverlap="false" >
                {{notif.desc}}
                </mat-card-content>
            <mat-divider inset></mat-divider>
            <p>{{readableDate(notif.dateCreated)}} {{readableTime(notif.dateCreated)}}</p>
                <mat-card-actions>
                    <button class="deleteBtn" mat-flat-button color="warn" (click)="deleteNotif(notif._id)">Delete</button>
                </mat-card-actions>
            </mat-card>


            <mat-card  *ngIf="notifs.length <= 0 && !isLoading">
            *Hoot hoot* *Hoot hoot*<bR>Nothing here..
            </mat-card>
    </mat-card>





</main>
