
<app-header-dashboard-user></app-header-dashboard-user>
<mat-spinner *ngIf="isLoading"
              [diameter]="30"
              style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"></mat-spinner>

        <main *ngIf="!isLoading">

        <mat-card class = "parent-card">

          
            <mat-card *ngFor="let notif of notifs" >
                <mat-card-content matBadge="1" [matBadgeHidden]="notif.isRead" matBadgePosition="before" matBadgeOverlap="false" >
                {{notif.desc}}
                </mat-card-content>
            <mat-divider inset></mat-divider>
            <p>{{readableDate(notif.dateCreated)}} {{readableTime(notif.dateCreated)}}</p>
                <mat-card-actions>
                    <button class="deleteBtn" mat-flat-button color="warn" (click)="deleteNotif(notif._id)">Delete</button>
                </mat-card-actions>
            </mat-card>


            <mat-card  *ngIf="notifs.length <= 0 && !isLoading">
            *Hoot hoot* *Hoot hoot*<bR>Nothing here..
            </mat-card>
        </mat-card>





</main>
