<div id="form-body">

  <mat-spinner *ngIf="isLoading===true"></mat-spinner>
  <button  *ngIf="isLoading===false" mat-button color="primary" (click) = "clickBtn()" [ngStyle]="(isLoading) ? {'visibility' : 'hidden'} : {'visibility': 'visible'} ">Create Request</button>
  <h1 *ngIf="isLoading">Generating file... Please wait!</h1>


</div>
    <!-- <div id ="pdfForm" #pdfForm *ngIf="!edit">
      <p id = "student_name">{{student_name}}</p>
      <p id = "faculty_name">{{prof_name}}</p>
      <p id = "date_requested">{{readableDate(this.date_requested)}}</p>
      <p id = "subject">{{data.subject}}</p>
      <p id = "semester">{{data.semester}}</p>
      <p id = "ay-1">{{data.year}}</p>
      <p id = "ay-2">{{acad_year2}}</p>
      <p id = "reason">{{data.desc}}</p>
      <p id = "action-passed" [ngStyle]="(edit) ? {'visibility':'visible'} : {'visibility':'hidden'}">&#10004;</p>
      <p id = "action-failed" [ngStyle]="(edit) ? {'visibility':'visible'} : {'visibility':'hidden'}">&#10004;</p>
      <p id = "rating-passed"  [ngStyle]="(edit) ? {'visibility':'visible'} : {'visibility':'hidden'}">{{data.verdict}}</p>
      <p id = "rating-failed"  [ngStyle]="(edit) ? {'visibility':'visible'} : {'visibility':'hidden'}">{{data.verdict}}</p>
      <p id = "date_accepted" [ngStyle]="(edit) ? {'visibility':'visible'} : {'visibility':'hidden'}">{{readableDate(this.date_accepted)}}</p>
      <img id = "professor_name" [ngStyle]="(edit) ? {'visibility':'visible'} : {'visibility':'hidden'}" [src]="e_sig_path_prof">
      <img id = "stud_signature" [src]="e_sig_path">
      <p id = "stud_id">{{student_no}}</p>
      <p id = "cys">{{data.cys}}</p>
    </div> -->

    <!-- <div *ngIf="edit">
      <pdf-viewer 
      [src]="data.request_form"
      [original-size]="true"
      style="width: auto; height: 100">
    
    </pdf-viewer>
     
    </div> -->

    

    <!-- <div id ="pdfFormEdit" #pdfFormEdit *ngIf="edit" [ngStyle]="{'background-image' : 'url('+data.request_form+')'}">
      <p id = "student_name" style="visibility:hidden">{{student_name}}</p>
      <p id = "faculty_name" style="visibility:hidden">{{prof_name}}</p>
      <p id = "date_requested" style="visibility:hidden">{{readableDate(this.date_requested)}}</p>
      <p id = "subject" style="visibility:hidden">{{data.subject}}</p>
      <p id = "semester" style="visibility:hidden">{{data.semester}}</p>
      <p id = "ay-1" style="visibility:hidden">{{data.year}}</p>
      <p id = "ay-2" style="visibility:hidden">{{acad_year2}}</p>
      <p id = "reason" style="visibility:hidden">{{data.desc}}</p>
      <p id = "action-passed" [ngStyle] ="{'visibility': visibilityIfPass}">&#10004;</p>
      <p id = "action-failed"  [ngStyle] ="{'visibility': visibilityIfFail}">&#10004;</p>
      <p id = "rating-passed" [ngStyle] ="{'visibility': visibilityIfPass}">{{data.verdict}}</p>
      <p id = "rating-failed"  [ngStyle] ="{'visibility': visibilityIfFail}">{{data.verdict}}</p>
      <p id = "date_accepted">{{readableDate(this.date_accepted)}}</p>
      <img id = "professor_name" [src]="e_sig_path_prof">
      <img id = "stud_signature" style="visibility:hidden" [src]="e_sig_path">
      <p id = "stud_id" style="visibility:hidden">{{student_no}}</p>
      <p id = "cys" style="visibility:hidden">{{data.cys}}</p>
    </div> -->



<!-- <button *ngIf="!edit" mat-button (click)="generatePDF()">Download This</button>
<button *ngIf="!edit" mat-button (click)="saveRequest()">Save Request</button>
<button *ngIf="edit" mat-button (click)="embedImages()">Proceed</button> -->


<!-- <div class ="content">
  
  <div #viewer id="viewer" class = "webviewer"></div>

</div> -->