<app-header-dashboard-user></app-header-dashboard-user>

<main>

  <div class="container">
    <mat-card class="profile-form">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{fullname}}</mat-card-title>
        <mat-card-subtitle>{{cys}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-label>Signature</mat-label>
      <img mat-card-image [src]="e_sig_path"> -->

        <mat-card-content>
          <mat-label class="lblTItle">Request:</mat-label><mat-label class="lblContent">30</mat-label><br><br>
          <mat-label class="lblTItle">Pending:</mat-label><mat-label class="lblContent">30</mat-label><br><br>
          <mat-label class="lblTItle">Completed:</mat-label><mat-label class="lblContent">30</mat-label>
        </mat-card-content>

      <mat-card-actions>

        <div class="btns">
          <button class="btnProfile positive" mat-flat-button color="primary" (click)="editMyAccount()" matTooltip="Edit Account">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="btnProfile negative" mat-flat-button color="primary" (click)="deleteMyAccount()" matTooltip="Delete Account">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="btnProfile neutral" mat-flat-button color="primary" (click)="changePassword()" matTooltip="Change Password">
            <mat-icon>password</mat-icon>
          </button>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>


</main>
