<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"
              [diameter]="30"
              style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"></mat-spinner>

<!--ELSE SHOW THIS-->
<div class="accordionDiv">
  <mat-accordion multi=true *ngIf="requests.length > 0 && !isLoading" >
    <mat-expansion-panel  *ngFor = "let request of requests" >

        <!-- TITLE -->
        <mat-expansion-panel-header>
            <b style= "color: #302e2e;"><b>Subject: </b>{{request.subject}}</b>
        </mat-expansion-panel-header>

        <!-- INFORMATION -->
        <li><b>Student: </b>{{request.user_id}}</li>
        <li><b>Section: </b>{{request.cys}}</li>
        <li><b>Professor: </b>{{request.faculty_id}}</li>
        <li><b>Reason: </b>{{request.desc}}</li>
        <li><b>Semester: </b>{{request.semester}}</li>
        <li><b>Academic Year: </b>{{transformAcadYear(request.year)}}</li>
        <li><b>Date requested: </b>{{readableDate(request.dateRequested)}}</li>
        <li *ngIf="request.status==='Completed' || request.status ==='Processing'"><b>Date accepted: </b>{{readableDate(request.dateAccepted)}}</li>
        <li><b>Status: </b>{{request.status}}</li>
        <li><b>PDF File: </b><a [href]="request.request_form" target="_blank" rel="noopener noreferrer">PDF Form file</a></li>
        <li *ngIf="request.status === 'Rejected'" style="color:red"><b >Note: </b>{{request.note}}</li>
        <li *ngIf="request.status === 'Processing'" style="color:red"><b>Note: </b>Processing can take up to 10 days!</li>



        <!-- ACTION ROW -->
        <mat-action-row *ngIf = "request.status === 'Requested'">
            <button mat-button color="primary" mat-flat-button color="primary" (click)= "acceptRequest(request._id)">Accept</button>
            <button mat-button color="warn" mat-flat-button color="warn" (click) = "rejectRequest(request._id)">Reject</button>
        </mat-action-row>

    </mat-expansion-panel>

</mat-accordion>
</div>

<p *ngIf="requests.length <= 0 && !isLoading" class="lblNote"><b>*Hoot hoot* *Hoot hoot*</b> <bR>Nothing here..</p>

