<app-header-dashboard-user></app-header-dashboard-user>

<main>

<button mat-raised-button color="primary" class="btn positive" (click)="openCreateRequestDialog()">Create Request</button>

<mat-card class="scrollable-content">
  <mat-card-header>

  </mat-card-header>

  <mat-card-content>

    <mat-tab-group mat-stretch-tabs class="mat-elevation-z4" animationDuration="1000ms">

    <!-- TAB 1 REQUESTED -->
    <mat-tab label="Requested">
      <app-request status = "Requested"></app-request>
    </mat-tab>

    <!-- TAB 2 ACCEPTED -->
    <mat-tab label="Processing">

      <app-request status = "Processing"></app-request>
    </mat-tab>

  <!-- TAB 3 REVISION -->
    <mat-tab label="Completed">
      <app-request status = "Completed"></app-request>
    </mat-tab>

    <!-- TAB 3 REVISION -->
    <mat-tab label="Rejected">
      <app-request status = "Rejected"></app-request>
    </mat-tab>


    </mat-tab-group>


  </mat-card-content>
</mat-card>


</main>
