<h1 mat-dialog-title>Create Request Manually</h1>


<div mat-dialog-content>

<main>
<form [formGroup] = "form" (submit) ="onChangePass()" >


   
    


     <!-- CURRENT PASSWORD -->
     <mat-form-field  class="full-width">
      <mat-label>Current password</mat-label>
      <input matInput 
      formControlName="current_password"
      type="password" 
      required>
      <mat-error *ngIf = "form.get('current_password').invalid">Please enter your current password</mat-error>
    </mat-form-field><br>

    <!-- NEW PASSWORD -->
    <mat-form-field  class="full-width">
      <mat-label>New password</mat-label>
      <input matInput 
      formControlName="new_password"
      type="password" 
      required>
      <mat-error *ngIf = "form.get('new_password').invalid">Please enter your new password</mat-error>
    </mat-form-field><br>
    
    <!-- CONFIRM NEW PASSWORD -->
       <mat-form-field  class="full-width">
        <mat-label>Confirm new password</mat-label>
        <input matInput 
        formControlName="confirm_password"
        type="password" 
        required>
        <mat-error *ngIf = "form.get('confirm_password').invalid">Please enter your new password again.</mat-error>
      </mat-form-field><br>


  <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Change Password</button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
 

</form>
<button  *ngIf="!isLoading" mat-raised-button  (click)="onNoClick()" color="accent" >Cancel</button>
</main>
</div>