
mat-card{

    width: 80%;
    margin: auto;
    overflow: hidden;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
  }

  .pfp-div{
    width: 100%;

    display:block;
    margin: 30px auto;

  }

.file-preview img{
border-radius: 50%;
height: 100px;
width:100px;
 }

 .sig-preview img{
  height: 100px;
  width:200px;
   }
