
mat-card{

    margin: auto;
    padding: 5%;
    


}
.signin-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}
  
.full-width {
    width: 100%;
    padding: 0px;

}

mat-form-field.full-width {
  font-size: 12px;
  margin: 0px;
}


.btnSignInForm {
   width: 100%;
   height: 45px;
   margin-bottom: 10px;
   margin-top: 30px;
}
.positive{
  background-color: #2ba9c8;
}
.negative{
  background-color: #2b79c8;
}



.txtTitle{
  font-weight: bold;
  padding-top: 1em;
  margin-bottom: 1em;
  font-size: xx-large;
  text-align: center;
}
.signUpLink{
  font-weight: bold;
  color: #2ba9c8;
  cursor: pointer;

}
p {
  text-align: center;
}

.container {
  max-width: 800px;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;

  /* center */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

mat-spinner {
  zoom: 0.2
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgb(215, 215, 215);
  border-radius: 5px;
}