<app-header></app-header>
<div class="container">
    <mat-card class="example-form">

    <h1>Sign in</h1>
            <form (submit) ="signIn(signInForm)" #signInForm = "ngForm" >
            
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input name="email" matInput type="email" ngModel #email="ngModel" required email>
                <mat-error *ngIf = "email.invalid">Please enter a valid email.</mat-error>
            </mat-form-field><br>

            <mat-form-field  class="full-width">
                <mat-label>Password</mat-label>
                <input name="password" matInput type="password" ngModel #password="ngModel" required>
                <mat-error *ngIf = "password.invalid">Please enter a valid password.</mat-error>
            </mat-form-field><br><br>

            <button mat-raised-button color="primary" type="submit">Sign in</button>
            <button mat-raised-button  color="accent" routerLink = '/sign-up'>Sign up</button>

        </form>
    </mat-card>
</div>