<mat-toolbar color="primary">

    <!-- HEADER TITLE -->
    <span>Grade Completion System</span>
    <span class="example-spacer"></span>
  
  

    <!-- SHOW IF NOT LOGGED IN -->
      <!-- SIGN IN -->
      <!-- <a *ngIf="!userIsAuthenticated" mat-button  routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon" routerLink="/sign-in">Sign In</a>  -->
      

      <!-- SIGN UP -->
      <!-- <a *ngIf="!userIsAuthenticated" mat-button  routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon" routerLink="/sign-up"> Sign Up</a> -->

    <!-- SHOW IF LOGGED IN -->

      <!-- SHOW IF STUDENT -->

        <!-- HOME BUTTON -->
        <button  matTooltip="Home" *ngIf="userIsAuthenticated && role ==='Student'" mat-icon-button class="example-icon favorite-icon" routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon" routerLink="/dashboard">
          <mat-icon>home</mat-icon>
        </button>

        <!-- PROFILE -->
        <button matTooltip="Profile" *ngIf="userIsAuthenticated  && role ==='Student'"  mat-icon-button class="example-icon favorite-icon" routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon"  routerLink="/profile">
            <mat-icon>person</mat-icon>
        </button>

        <!-- MY REQUESTS -->
        <button matTooltip="Your requests" *ngIf="userIsAuthenticated  && role ==='Student'"   routerLink="/myrequest" mat-icon-button class="example-icon favorite-icon"  routerLinkActive="mat-accent"  aria-label="Example icon-button with heart icon">
            <mat-icon>event_note</mat-icon>
        </button>
      
      <!-- SHOW IF ADMIN -->

        <!-- HOME BUTTON -->
        <button matTooltip="Admin Dashboard" *ngIf="userIsAuthenticated && role ==='Admin'" mat-icon-button class="example-icon favorite-icon" routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon" routerLink="/admin-dashboard">
          <mat-icon>home</mat-icon>
        </button>

        <!-- PROFILE -->
        <button matTooltip="Accounts" *ngIf="userIsAuthenticated  && role ==='Admin'"  mat-icon-button class="example-icon favorite-icon" routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon"  routerLink="/accounts">
            <mat-icon>people</mat-icon>
        </button>

        <!-- REQUESTS LIST-->
        <button matTooltip="Requests" *ngIf="userIsAuthenticated  && role ==='Admin'"   routerLink="/admin-request" mat-icon-button class="example-icon favorite-icon"  routerLinkActive="mat-accent"  aria-label="Example icon-button with heart icon">
            <mat-icon>event_note</mat-icon>
        </button>

        <!-- SUBJECT LIST-->
        <button matTooltip="Subjects" *ngIf="userIsAuthenticated  && role ==='Admin'"   routerLink="/subject" mat-icon-button class="example-icon favorite-icon"  routerLinkActive="mat-accent"  aria-label="Example icon-button with heart icon">
          <mat-icon>collections_bookmark</mat-icon>
      </button>

         <!-- SETTINGS -->
        <button matTooltip="Settings" *ngIf="userIsAuthenticated  && role ==='Admin'"   routerLink="/admin-settings" mat-icon-button class="example-icon favorite-icon"  routerLinkActive="mat-accent"  aria-label="Example icon-button with heart icon">
          <mat-icon>settings</mat-icon>
        </button>

      <!-- SHOW IF FACULTY -->

         <!-- HOME BUTTON -->
         <button matTooltip="Faculty Dashboard" *ngIf="userIsAuthenticated && role ==='Faculty' && status === 'Accepted'" mat-icon-button class="example-icon favorite-icon" routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon" routerLink="/dashboard">
          <mat-icon>home</mat-icon>
        </button>

        <!-- PROFILE -->
        <button matTooltip="Profile" *ngIf="userIsAuthenticated  && role ==='Faculty' && status === 'Accepted'"  mat-icon-button class="example-icon favorite-icon" routerLinkActive="mat-accent" aria-label="Example icon-button with heart icon"  routerLink="/faculty-profile">
            <mat-icon>person</mat-icon>
        </button>

        <!-- REQUESTS LIST-->
        <button matTooltip="Requests" *ngIf="userIsAuthenticated  && role ==='Faculty' && status === 'Accepted'"   routerLink="/faculty-request" mat-icon-button class="example-icon favorite-icon"  routerLinkActive="mat-accent"  aria-label="Example icon-button with heart icon">
            <mat-icon>event_note</mat-icon>
        </button>


      <!-- LOGOUT -->
      <button matTooltip="Logout" *ngIf="userIsAuthenticated"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click) = "onLogout();">
        <mat-icon>logout</mat-icon>
      </button>
  

</mat-toolbar>