<mat-toolbar color="primary">
    <span>Grade Completion System</span>
    <span class="example-spacer"></span>
  
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/dashboard">
        <mat-icon>home</mat-icon>
      </button>
    <button  routerLink="/create-request" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>event_note</mat-icon>
      </button>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/sign-in">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>