<app-header-dashboard-user></app-header-dashboard-user>
<div class="container">
    <mat-card class="example-form">

    <h1>Create Request</h1>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form [formGroup] = "form" *ngIf="!isLoading" (submit) ="onSaveRequest();" >
              
             <!-- REQUEST TITLE -->
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input 
                matInput  
                formControlName = "__title"
                type="text" 
            >
                <mat-error *ngIf ="form.get('__title').invalid">Please enter a valid title</mat-error>
            </mat-form-field><br>

             <!-- REQUEST USER ID  -->
             <mat-form-field class="full-width">
                <mat-label>User Id</mat-label>
                <input 
                matInput  
                formControlName= "__user_id"
                type="text" 
              >
                <mat-error *ngIf ="form.get('__user_id').invalid">Please enter a valid user id</mat-error>
            </mat-form-field><br>
    
            <!-- REQUEST FACULTY ID  -->
            <mat-form-field class="full-width">
                <mat-label>Faculty Id</mat-label>
                <input
                matInput  
                type="text" 
                formControlName= "__faculty_id"
              >
                <mat-error *ngIf = "form.get('__faculty_id').invalid">Please enter a valid faculty_id</mat-error>
            </mat-form-field><br>
            
            <!-- REQUEST STATUS  -->
            <mat-form-field class="full-width">
            <mat-label>Select Status</mat-label>
            <mat-select 
            [(value)]="selectedStatus"
            formControlName= "__status"
            >
            <mat-option *ngFor="let stat of stats" [value] = "stat.value">
                {{stat.value}}
            </mat-option>
            </mat-select>
            
            </mat-form-field><br><br>

            <!-- REQUEST FILE // OPTIONAL -->
            <div style="margin-bottom: 1rem">
                <button mat-button type="button" (click)="filePicker.click()">Choose file</button>
                <input type="file" #filePicker (change) = "onFilePicked($event)">
                <div class= "file-preview" *ngIf = "imagePreview !== '' && imagePreview">
                    <img [src] = "imagePreview" [alt] = "form.value.title" >
                </div>

            </div>
            

            <button mat-raised-button color="primary" type="submit">Save Request</button>
            <button mat-raised-button color="accent" routerLink="/dashboard">Cancel</button>
           
        </form>
    </mat-card>
</div>