<h1>Requests</h1>
<mat-accordion >
    <mat-expansion-panel *ngFor = "let request of requests" >
        <mat-expansion-panel-header>
            {{request.title}}
        </mat-expansion-panel-header>
        <li>   {{request.user_id}}</li>
        <li>   {{request.faculty_id}}</li>
        <li>   {{request.status}}</li>
        <mat-action-row>
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="warn">DELETE</button>

        </mat-action-row>
    </mat-expansion-panel>
    
</mat-accordion>