<!--SHOW THIS IF LOADING-->
<mat-spinner *ngIf="isLoading"></mat-spinner>

<!--ELSE SHOW THIS-->
<mat-accordion multi=true *ngIf="requests.length > 0 && !isLoading" >
    <mat-expansion-panel  *ngFor = "let request of requests" >
        
        <!-- TITLE -->
        <mat-expansion-panel-header>
            <b style= "color: #673AB7;"><b>Subject: </b>{{request.subject}}</b>
        </mat-expansion-panel-header>
           
        <!-- INFORMATION -->
        <li><b>Student: </b>{{request.user_id}}</li>
        <li><b>Section: </b>{{request.cys}}</li>

        <li><b>Professor: </b>{{request.faculty_id}}</li>
        <li><b>Reason: </b>{{request.desc}}</li>
        <li><b>Semester/Tri-semester/Summer: </b>{{request.semester}}</li>
        <li><b>Academic Year: </b>{{transformAcadYear(request.year)}}</li>
        <li><b>Status: </b>{{request.status}}</li>
    
        <li><b>Date requested: </b>{{readableDate(request.dateRequested)}}</li>
        <li><b>PDF File: </b><a [href]="request.request_form" target="_blank" rel="noopener noreferrer">PDF Form file</a></li>
        <li *ngIf="request.status === 'Rejected'" style="color:red"><b>Note: </b>{{request.note}}</li>
        <!-- ACTION ROW -->
        <mat-action-row *ngIf = "request.status === 'Requested'">
            <button  mat-button color="primary" (click) ="openEditRequestDialog(request._id)">EDIT</button>
            <button  mat-button color="warn" (click)="deleteRequest(request._id)">DELETE</button>
        </mat-action-row>
    
    </mat-expansion-panel>
    
</mat-accordion>
<br><br>
<p *ngIf="requests.length <= 0 && !isLoading"><b>*Hoot hoot* *Hoot hoot*</b> <bR>Nothing here..</p>
  
