<h1 mat-dialog-title>Create Request Manually</h1>
<div mat-dialog-content>

<main>
<form [formGroup] = "form" (submit) ="onAddRequest()" >

        
    <!--TITLE-->
    <mat-form-field  class="full-width">
      <mat-label>Title</mat-label>
      <input  name="title" formControlName="title" matInput type="text" required>
      <mat-error *ngIf = "form.get('title').invalid">Please enter a title.</mat-error>
    </mat-form-field>


    <!--STUDENT-->
  <mat-form-field class="full-width">
    <mat-label>Choose a student</mat-label>
    <mat-select 
    name = "student"
    formControlName="student"
    required
    >
    <mat-option *ngFor="let student of students" [value] = "student['_id']">
        {{ student.l_name + ", " + student.f_name}}
    </mat-option>
    </mat-select>
    <mat-error *ngIf = "form.get('student').invalid">Please choose a student.</mat-error>
    </mat-form-field>

    
    <!-- FACULTY -->
  <mat-form-field class="full-width">
    <mat-label>Choose a professor.</mat-label>
    <mat-select 
    name = "faculty"
    formControlName="faculty"
    required
    >
    <mat-option *ngFor="let professor of professors" [value] = "professor['_id']">
        {{professor.l_name + ", "+professor.f_name }}
    </mat-option>
    </mat-select>
    <mat-error *ngIf = "form.get('faculty').invalid">Please choose a professor.</mat-error>
    </mat-form-field>



  <!--STATUS-->
  <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <mat-select 
      [(value)]="selectedStatus"
      name = "status"
      formControlName ="status"
      required
      >
      <mat-option *ngFor="let stat of stats" [value] = "stat.value">
          {{stat.value}}
      </mat-option>
      </mat-select>
      <mat-error *ngIf = "form.get('status').invalid">Please choose a status.</mat-error>
  </mat-form-field>


  <div style="margin-bottom: 1rem">
    <button mat-button type="button" (click)="filePicker.click()">Choose file</button>
    <input type="file" #filePicker (change) = "onFilePicked($event)">
    <div class= "file-preview" >
     <p>{{fileTitle}}</p>
    </div>

  </div>

  <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Sign Up</button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <button mat-raised-button  (click)="onNoClick()" color="accent" >Cancel</button>

</form>
</main>
</div>