<app-header-dashboard-user></app-header-dashboard-user>



<main>

<mat-card>
  <mat-card-content>
    <div class="demo-button-container">

      <!-- ADD SUBJECT -->
      <div class="row">
        <div class="col-sm-8">
        <!-- ADD USER -->
        <button class="btnSignInForm positive demo-button" color="primary" mat-raised-button (click)="openDialog()" >
          Add Subject
        </button>

        <!-- SHOW ALL -->
        <button class="btnSignInForm demo-button" mat-raised-button color = "accent" (click)="showAll()" >
          Show All
        </button>

        <!-- EXPORT TABLE AS ... -->
        <button class="btnSignInForm demo-button" mat-raised-button  (click)="exporter.exportTable('xlsx',{fileName:',User_data'})">Export as Excel</button>
        <button class="btnSignInForm demo-button" mat-raised-button (click)="exporter.exportTable('csv',{fileName:'User_data'})">Export as CSV</button>
        <button class="btnSignInForm demo-button" mat-raised-button  (click)="exporter.exportTable('json',{fileName:'User_data'})">Export as JSON</button>

        </div>
        <div class="col-sm-4">
        <!-- FILTER -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Enter a filter" #input [(ngModel)]="_filter" name="_filter">
        </mat-form-field>
        </div>
      </div>

    <div class="example-container mat-elevation-z8">


      <mat-spinner *ngIf="isLoading"
              [diameter]="30"
              style="margin: 0; position: absolute; top: 50%; left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);"></mat-spinner>



      <div class="example-table-container">


        <table mat-table matTableExporter [hiddenColumns]="[3]" [dataSource]="dataSource" class="example-table" #exporter="matTableExporter" matSort >

          <!-- First Name -->
          <ng-container matColumnDef="subject_code">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header>Subject Code</th>
            <td mat-cell *matCellDef="let row">{{row.subject_code}}</td>
          </ng-container>

          <!-- Last Name -->
          <ng-container matColumnDef="subject_name">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name</th>
            <td mat-cell *matCellDef="let row">{{row.subject_name}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="subject_description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject Description</th>
            <td mat-cell *matCellDef="let row">{{row.subject_description}}</td>
          </ng-container>


          <!-- Actions Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button class="demo-button" mat-raised-button color="warn" (click)="deleteSubject(row._id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button class="demo-button" mat-raised-button color="primary" (click) ="editDialog(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- if filter doesn't return any rows -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter {{input.value}}</td>
          </tr>

        </table>
      </div>

    <mat-paginator [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons >

    </mat-paginator>
  </div>

  </div>
  </mat-card-content>
</mat-card>



  </main>
